/* Personal Bio Style sheet */
/*
  ========================================
  
  ========================================
*/
html {
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  background-image: url("../images/backgroundPattern01.png");
  background-repeat: repeat;
  width: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  font-weight: bold;
}

h1 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.25em;
}

.top-container {
  margin: 0;
  padding-left: 180px;
  padding-right: 0px;
  align-content: center;
  background-color: #fff;
  min-width: 1150px; 
  border-bottom: 1px solid #cccccc;
}

.logo {
  margin: 0;
  padding: 21.5px 20px;
  color: #fff;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.5em;
  float: left;
}

.navigation {
  padding: 25px 0px 25px 535px;
  text-align: left;
  float: left;   
}

nav a {
  padding-right: 10px;
  padding-left: 10px;
  border-right: #cccccc  1px solid;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: gray;
}

nav a:last-child{
  border-right: none;
}

nav a:hover {
  border-bottom: 1px solid teal;
}

.top-container-tail {
  height: 67px;
  background-color: #ffffff;
}

.clear-float{
  clear: left;
  visibility: hidden;
}

hr {
  margin: 0;
  color: #cccccc;
 
}

.wrapper {
  min-height: 100%;
  width: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.photo {
  float: left;
  margin: 0 25px 0px 0;
  height:150px;
} 

.bio-text {
  float: left;
}

.bio-clearfloat{
  clear: left;
}

.main-content {
  padding: 0 20px 0 20px;
  background-color: #ffffff;
  width: 960px;
  margin: 30px 0 50px 180px;
  margin: 15px 0 15px 180px;
  border: 1px solid #dddddd; 
  /* min-height: 900px; */
}

.portfolio-grid {
  height: auto;
}

.portfolio-image {
  height: 170px;
  width: 240px;
  
}
/* table styling */

tbody {
  padding-left: 0;
}
th {
  padding: 5px;
}
.table-cell-position {
  position: relative;
  overflow: hidden;
  padding: 4px 0 4px 8px;
}

.last-cell {
  visibility: hidden;
}

.pic-overlay {
  position: absolute;
  text-align: center;
  bottom: 20px;
  color: #ffffff;
  background-color: #4aaaa5;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* style  for the Contacts page */
.contact-element{
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;  
}

input.contact-element {
  width: 920px;
}

textarea {
  margin: 8px 0 8px 0; 
  width: 920px; 
  height: 58px;
  resize: none;
}

.submit-button {
  display: block;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#ffffff;
  background: #4aaaa5;
  margin: 10px 10px 10px 0;
  padding: 8px 20px 8px 20px;
}

/* push is part of the sticky footer hack */
.footer,
.push {
  height: 50px;
}

footer {
  text-align: center;
  padding-top:25px;
  font-size: 0.65em;
  width: 100%;
  border-top: 4px solid #4aaaa5;
  color: #ffffff;
  background-color: #666666;
  min-width: 1150px; 
}
